@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400&display=swap');

* {
    font-size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
}

//Project Colors
//MAPLIST
$colors:(first: #0d406b,
    second: #db7304,
    third: #ac4900,
    fourth: #2e6f92,
    fifth: #000,
    sixth: #fff);

//EXTENDS
%transition {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

%buttonradius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

/* This only changes this particular animation duration */
.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}


//Nav Styles


//Hero Styles

.hero-container {
    width: 100%;
    height: 100vh !important;
    position: relative;

    // background-color: transparent;
    nav.nav-capital {
        position: fixed;
        z-index: 9999;
        width: 100%;
        // background-color: transparent;

        .scroll {
            // position: fixed !important;
            background-color: red;
        }

        // background-color: map-get($colors, first);
        .nav-capital-container {
            width: 100%;

            button.navbar-toggler {
                border: 1px solid #fff !important;

                span {
                    color: #fff !important;
                }
            }

            a {
                padding: 15px;

                img {
                    width: 150px;
                }
            }

            .nav-capital-ul-container {
                ul {
                    padding: 15px;

                    li {
                        a {
                            font-size: 1.5rem;
                            color: map-get($colors, sixth);
                            @extend %transition;

                            &:hover {
                                color: rgb(179, 175, 175);
                            }
                        }
                    }
                }
            }
        }
    }


    .hero-text {
        // position: relative;
        position: absolute;
        padding: 0 22.5px;
        margin-top: 10%;

        h1 {
            font-size: 7rem;
            font-weight: 400;
            letter-spacing: 2.5px;
            color: map-get($colors, sixth);
            width: 50%;
            margin: 5% 0;
        }

        h3 {
            font-size: 3rem;
            font-weight: 300;
            color: map-get($colors, sixth);
            margin-bottom: 8%;
        }

        .button-hero {
            // position: relative;
            font-size: 2rem;
            text-decoration: none;
            // margin-right: 15%;
            // margin-top: 20% !important;
            padding: 5px 15px;
            color: map-get($colors, sixth);
            background-color: transparent;
            border: 1px solid #fff;
            @extend %buttonradius;
            @extend %transition;

            &:hover {
                color: map-get($colors, first);
                background-color: map-get($colors, sixth);
                border: 1px solid #fff;
            }
        }
    }

}

.hero-photo {
    position: relative;
    background-image: url(../assets/images/3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-photo::before {
    content: " ";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


//Main styles
.main-container {
    // margin-bottom: 5%;

    background-color: #e3e3e3fe;

    .main-home {

        .main-card {
            width: 70%; //mq para que se vea bien en mobile
            padding: 25px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            text-align: center;

            h3 {
                font-size: 3.5rem;
                font-weight: 600;
                color: map-get($colors, first);
            }

            p {
                width: 90%;
                color: map-get($colors, first);
                font-size: 2rem;
                text-align: center;
            }
        }

        .main-sub {
            h4 {
                font-size: 2.8rem;
                color: map-get($colors, first);
            }

            p {
                font-size: 1.7rem;
                text-align: left;
                color: map-get($colors, first);
            }
        }
    }

    .section-clients {
        // background-color: map-get($colors, first);
        border-top: 2px solid rgb(237, 236, 236);

        h3 {
            font-size: 3rem;
            color: map-get($colors, first);
        }

        ul {
            list-style: none;
        }
    }
}

//Footer

.footer-container {
    // height: 45vh;
    // background-color: #04172657;
    // position: absolute;
    background-color: map-get($colors, first);



    // .footer-nav-ul {
    ul {
        list-style: none;

        li {
            a {
                text-decoration: none;
                font-size: 1.5rem;
                color: map-get($colors, sixth);
                @extend %transition;

                &:hover {
                    color: rgb(179, 175, 175);
                }

            }
        }
    }

    // }

    .footer-logo {
        p {
            text-align: justify;
            font-size: 1.2rem;
            color: map-get($colors, sixth);

        }

        div {
            a {
                img {
                    width: 25px;
                }
            }
        }
    }

    .footer-contact-ul {

        li {
            img {
                width: 25px;
            }

            p {
                font-size: 1.4rem;
                color: map-get($colors, sixth);
            }

            a {
                color: map-get($colors, sixth);
                font-size: 1.4rem;
                text-decoration: none;

                @extend %transition;

                &:hover {
                    color: rgb(179, 175, 175);
                    color: #044B94;
                    text-decoration: underline;
                }
            }
        }

    }
}


//About Styles
//Contact Styles
.contact-container {
    // position: absolute;
    // height: 50vh;

    h3 {
        font-size: 3.3rem;
        color: map-get($colors, sixth);
    }

    .contact-info {
        ul {
            list-style: none;

            li {
                img {
                    width: 25px;
                }

                p {
                    font-size: 1.8rem;
                    color: map-get($colors, sixth);
                }

                a {
                    color: map-get($colors, sixth);
                    font-size: 1.6rem;
                    text-decoration: none;

                    @extend %transition;

                    &:hover {
                        color: rgb(179, 175, 175);
                        color: #044B94;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

//Form
.gradient-brand-color {
    // background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    // background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}

.contact-info__wrapper {
    overflow: hidden;
    border-radius: 0 0 0.500rem 0.500rem;
    padding: 0 !important;


    iframe {
        width: 100%;
        height: 100%;
        // border-radius: 0 0 0 10px;

    }

}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        // padding: 0 !important;
        // padding: 5rem !important

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 0 0.625rem 0.625rem 0;

        }

    }
}

.contact-info__list span.position-absolute {
    left: 0
}

.z-index-101 {
    z-index: 101;
}

.list-style--none {
    list-style: none;
}

.contact__wrapper {
    background-color: rgb(255 255 255 / 14%);
    overflow: hidden;
    border-radius: .625rem;
    overflow: hidden;
}

.form-group {
    label {
        color: map-get($colors, sixth);
        font-size: 1.4rem;
    }

    textarea {
        font-size: 1.2rem;
    }

    input {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem
    }
}

.btn-form {
    background-color: map-get($colors, second);
    color: map-get($colors, sixth);
    font-size: 1.4rem;

}


//About styles
.about-content {

    .about-text {
        text-align: left;

        .about-titles {

            h5 {
                width: 70%;
                font-size: 1.3rem;
                font-weight: 600;
            }

            h3 {
                width: 70%;
                font-size: 3.2rem;
                font-weight: 800;
                color: map-get($colors, first);
            }

            hr {
                width: 80%;
                color: map-get($colors, second);
                margin-right: auto;
                // border-bottom: 1px solid map-get($colors, second);
            }
        }

        .about-p {
            // width: 70%;

            p {
                width: 85%;
                font-size: 1.7rem;
                color: map-get($colors, first);
            }

            a {
                padding: 3px 5px;
                font-weight: 600;
                font-size: 1.5rem;
                color: map-get($colors, sixth);
                text-decoration: none;
                border: 1px solid #0e76a8;
                ;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;

                @extend %transition;

                img {
                    width: 55px;
                }

                &:hover {
                    border: 2px solid #0e76a8;
                    background-color: #eeeeee;
                }
            }
        }
    }
}

.person-container {
    border-top: 2px solid rgb(237, 236, 236);

    .person-data {
        .person-card {
            // background-color: #efededfe;
            width: 40%;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            // box-shadow: 0px 0px 14px 5px rgba(219, 216, 216, 0.75);
            // -webkit-box-shadow: 0px 0px 14px 5px rgba(219, 216, 216, 0.75);
            // -moz-box-shadow: 0px 0px 14px 5px rgba(219, 216, 216, 0.75);

            img {
                width: 100%;
                border-radius: 100px;
            }
        }
    }
}

//Services styles

.service-title {
    padding: 5% 0;

    h3 {
        // width: 70%;
        font-size: 3.2rem;
        font-weight: 800;
        color: map-get($colors, first);
    }

    hr {
        width: 70%;
        color: map-get($colors, first);
        margin: 0 auto;
        // border-bottom: 1px solid map-get($colors, second);
    }
}

.service-content {
    .service-photo {
        img {
            width: 100%;
            height: auto;
            // box-shadow: 0px 2px 22px -9px rgba(0, 0, 0, 0.75);
            // -webkit-box-shadow: 0px 2px 22px -9px rgba(0, 0, 0, 0.75);
            // -moz-box-shadow: 0px 2px 22px -9px rgba(0, 0, 0, 0.75);

        }
    }

    .service-text {
        text-align: left;
        width: 50%;


        h5 {
            color: map-get($colors, second);
            width: 70%;
            font-size: 1.3rem;
            font-weight: 600;
        }

        hr {
            width: 70%;
            color: map-get($colors, second);
            margin: 0 auto;
            // border-bottom: 1px solid map-get($colors, second);
        }

        h3 {
            color: map-get($colors, first);
            width: 70%;
            font-size: 2.2rem;
            font-weight: 800;
        }

        .service-list {
            width: 70%;

            ul {
                list-style: circle;
                color: map-get($colors, first);

                li {
                    font-size: 1.5rem;

                }
            }
        }

        .service-p {
            width: 70%;

            p {
                // width: 70%;
                color: map-get($colors, first);

                font-size: 1.5rem;
            }

        }
    }
}

//Obras styles

.obras-content {

    .obras-row {
        img {
            width: 100%;
            height: auto;
            box-shadow: 0px 2px 22px -9px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 2px 22px -9px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 2px 22px -9px rgba(0, 0, 0, 0.75);
            @extend %buttonradius;

        }

        h5 {
            color: map-get($colors, second);
            width: 70%;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 3px 10px;

        }

        .button-photo {
            // position: relative;
            font-size: 1.3rem;
            text-decoration: none;
            // margin-right: 15%;
            // margin-top: 20% !important;
            padding: 3px 10px;
            color: map-get($colors, first);
            background-color: transparent;
            // border: 1px solid map-get($colors, first);
            @extend %buttonradius;
            @extend %transition;

            &:hover {
                color: map-get($colors, sixth);
                background-color: map-get($colors, first);
                // border: 1px solid #fff;
            }
        }

    }
}

.modal-content {
    background-color: rgba(50, 50, 50, 0.757);

    .modal-header {
        border: none;

        .modal-title {
            color: map-get($colors, sixth);
            border-bottom: 1px solid map-get($colors, second);
            width: 50%;
        }
    }

    .modal-footer {
        border: none;

        .btn-modal {
            background-color: map-get($colors, second);
            color: map-get($colors, sixth);
        }
    }

}

//Mac width media queries
// Small devices (landscape phones, 576px and up)

@media (max-width: 575.98px) {

    //INDEX
    .hero-container {
        height: 65vh !important;

        // background-color: transparent;
        nav.nav-capital {
            z-index: 9999 !important;
            // background-color: map-get($colors, first);

            .nav-capital-container {
                width: 100%;



                a {
                    padding: 15px;

                    img {
                        width: 95px;
                    }
                }

                .nav-capital-ul-container {

                    ul {
                        border-radius: 10px 10px 10px 10px;
                        -moz-border-radius: 10px 10px 10px 10px;
                        -webkit-border-radius: 10px 10px 10px 10px;
                        background-color: rgba(0, 0, 0, 0.2);
                        width: 150px;
                        padding: 15px;

                        li {
                            a {
                                font-size: 1.5rem;
                                color: map-get($colors, sixth);

                                &:hover {
                                    color: rgb(179, 175, 175);
                                }
                            }
                        }
                    }
                }
            }
        }

        .hero-text {
            width: 70%;
            margin-top: 25%;

            h1 {
                font-size: 3.5rem;
                letter-spacing: 2px;
                width: 95%;
                // margin: 5% 0;

            }

            h3 {
                width: 100%;
                font-size: 2.5rem;
                margin-bottom: 8%;
            }
        }
    }

    .hero-photo-contact {
        height: 140vh !important;
    }

    //Main styles
    .main-container {
        .main-home {

            .main-card {
                width: 80%;
                padding: 15px;

                h3 {
                    font-size: 3.2rem;
                }

                p {
                    width: 90%;
                    font-size: 1.8rem;
                }
            }

            .main-sub {
                h4 {
                    font-size: 2.6rem;
                }

                p {
                    font-size: 1.3rem;
                }
            }
        }
    }

    //FIN INDEX
    //FOOTER
    .footer-container {
        nav {
            display: none !important;
        }


        .footer-logo {
            img {
                width: 100px;
            }

            div {

                img {
                    width: 22px !important;
                }
            }

            p {
                font-size: 1.1rem;

            }
        }

        .footer-contact-ul {

            li {
                img {
                    width: 20px !important;
                }

                p {
                    font-size: 1.2rem;
                }

                a {
                    font-size: 1.2rem;


                    &:hover {
                        color: rgb(179, 175, 175);
                        color: #044B94;
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    //FIN FOOTER
    //About styles
    .about-content {

        .about-text {
            .about-titles {

                h3 {
                    font-size: 2.8rem;
                }

            }

            .about-p {
                // width: 70%;

                p {
                    font-size: 1.4rem;
                }


            }
        }
    }

    // .person-container {
    //     border-top: 2px solid rgb(237, 236, 236);

    //     .person-data {
    //         .person-card {
    //             // background-color: #efededfe;
    //             width: 40%;
    //             border-radius: 8px;
    //             -webkit-border-radius: 8px;
    //             -moz-border-radius: 8px;
    //             // box-shadow: 0px 0px 14px 5px rgba(219, 216, 216, 0.75);
    //             // -webkit-box-shadow: 0px 0px 14px 5px rgba(219, 216, 216, 0.75);
    //             // -moz-box-shadow: 0px 0px 14px 5px rgba(219, 216, 216, 0.75);

    //             img {
    //                 width: 100%;
    //                 border-radius: 100px;
    //             }
    //         }
    //     }
    // }

    //Services styles

    .service-title {
        h3 {
            // width: 70%;
            font-size: 2.8rem;
        }

        hr {
            width: 70%;
            margin: 0 auto;
        }
    }

    .service-content {
        .service-photo {
            img {
                width: 100%;
                height: auto;
                box-shadow: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            }
        }

        .service-text {
            padding: 5% 0;
            text-align: left;
            width: 100%;

            h5 {
                width: 70%;
                font-size: 1.3rem;
                font-weight: 600;
            }

            hr {
                width: 70%;
                margin: 0 auto;
            }

            h3 {
                width: 70%;
                font-size: 2rem;
                font-weight: 800;
            }

            .service-list {
                width: 70%;

                ul {
                    li {
                        font-size: 1.3rem;
                        padding: 5px 0;
                    }
                }
            }

            .service-p {
                width: 70%;

                p {
                    font-size: 1.5rem;
                }

            }
        }
    }

    //Obras
    .obras-content {

        .obras-row {
            h5 {
                font-size: 1.3rem;

            }

            .button-photo {
                font-size: 1.2rem;
            }

        }
    }

    //Contacto
    .btn-form {
        width: 100%;
        font-size: 1.3rem;
    }

    .contact-container {
        // position: absolute;
        // height: 50vh;

        h3 {
            font-size: 3.3rem;
            color: map-get($colors, sixth);
        }

        .contact-info {
            ul {
                li {

                    img {
                        width: 20px;
                    }

                    p {
                        font-size: 1.3rem;
                        color: map-get($colors, sixth);
                    }

                    a {
                        font-size: 1.3rem;
                    }
                }
            }

        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 575.99px) and (max-width: 767.98px) {
    //INDEX

    .hero-container {

        // background-color: transparent;
        nav.nav-capital {
            z-index: 9999 !important;
            // background-color: map-get($colors, first);

            .nav-capital-container {
                width: 100%;

                a.navbar-brand {
                    padding: 15px;

                    img {
                        width: 100px;
                    }
                }

                .nav-capital-ul-container {

                    ul {
                        border-radius: 10px 10px 10px 10px;
                        -moz-border-radius: 10px 10px 10px 10px;
                        -webkit-border-radius: 10px 10px 10px 10px;
                        background-color: rgba(0, 0, 0, 0.2);
                        width: 150px;
                        padding: 15px;

                        li {
                            a {
                                font-size: 1.5rem;
                                color: map-get($colors, sixth);
                                @extend %transition;

                                &:hover {
                                    color: rgb(179, 175, 175);
                                }
                            }
                        }
                    }
                }
            }
        }

        .hero-text {
            width: 70%;
            margin-top: 25%;

            h1 {
                font-size: 5rem;
                letter-spacing: 2.2px;
                width: 95%;
                // margin: 5% 0;

            }

            h3 {
                width: 100%;
                font-size: 2.5rem;
                margin-bottom: 8%;
            }
        }
    }

    .hero-photo-contact {
        height: 140vh !important;
    }


    //Main styles
    .main-container {
        // margin-bottom: 5%;

        // background-color: #e3e3e3fe;

        .main-home {

            .main-card {
                width: 80%;
                padding: 15px;

                h3 {
                    font-size: 3.5rem;
                }

                p {
                    width: 90%;
                    font-size: 2rem;
                }
            }

            .main-sub {
                h4 {
                    font-size: 2.8rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    //FIN INDEX
    //FOOTER

    .footer-container {
        // height: 45vh;
        // background-color: #04172657;
        // position: absolute;
        // background-color: map-get($colors, first);


        nav {
            display: none !important;
        }


        .footer-logo {

            div {

                img {
                    width: 25px !important;
                }
            }

            p {
                font-size: 1.1rem;

            }
        }

        .footer-contact-ul {

            li {
                img {
                    width: 20px !important;
                }

                p {
                    font-size: 1.2rem;
                }

                a {
                    font-size: 1.2rem;


                    &:hover {
                        color: rgb(179, 175, 175);
                        color: #044B94;
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    //FIN FOOTER
    //About styles
    .about-content {

        .about-text {
            .about-titles {

                h3 {
                    font-size: 2.8rem;
                }

            }

            .about-p {
                // width: 70%;

                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .person-container {

        .person-data {
            .person-card {

                img {
                    width: 100px;
                }
            }
        }
    }

    //Services styles

    .service-title {
        h3 {
            // width: 70%;
            font-size: 2.8rem;
        }

        hr {
            width: 70%;
            margin: 0 auto;
        }
    }

    .service-content {
        .service-photo {
            img {
                width: 100%;
                height: auto;
                box-shadow: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            }
        }

        .service-text {
            padding: 5% 0;
            text-align: left;
            width: 100%;

            h5 {
                width: 70%;
                font-size: 1.4rem;
                font-weight: 600;
            }

            hr {
                width: 70%;
                margin: 0 auto;
            }

            h3 {
                width: 70%;
                font-size: 2.1rem;
                font-weight: 800;
            }

            .service-list {
                width: 70%;

                ul {
                    li {
                        font-size: 1.4rem;
                        padding: 5px 0;
                    }
                }
            }

            .service-p {
                width: 70%;

                p {
                    font-size: 1.5rem;
                }

            }
        }
    }

    //Obras
    .obras-content {

        .obras-row {
            h5 {
                font-size: 1.2rem;

            }

            .button-photo {
                font-size: 1.1rem;
            }

        }
    }


    //Contacto
    .btn-form {
        width: 100%;
        font-size: 1.3rem;
    }

    .contact-container {
        // position: absolute;
        // height: 50vh;

        h3 {
            font-size: 3.3rem;
            color: map-get($colors, sixth);
        }

        .contact-info {
            ul {
                li {

                    img {
                        width: 15px;
                    }

                    p {
                        font-size: 1.3rem;
                        color: map-get($colors, sixth);
                    }

                    a {
                        font-size: 1.3rem;
                    }
                }
            }

        }
    }
}

@media (min-width: 768px) and (max-width: 991.33px) {
    .hero-container {

        // background-color: transparent;
        nav.nav-capital {
            z-index: 9999 !important;
            // background-color: map-get($colors, first);

            .nav-capital-container {
                width: 100%;

                a {
                    padding: 15px;

                    img {
                        width: 150px;
                    }
                }

                .nav-capital-ul-container {

                    ul {
                        border-radius: 10px 10px 10px 10px;
                        -moz-border-radius: 10px 10px 10px 10px;
                        -webkit-border-radius: 10px 10px 10px 10px;
                        background-color: rgba(0, 0, 0, 0.2);
                        width: 150px;
                        padding: 15px;

                        li {
                            a {
                                font-size: 1.5rem;
                                color: map-get($colors, sixth);

                                &:hover {
                                    color: rgb(179, 175, 175);
                                }
                            }
                        }
                    }
                }
            }
        }

        //     .hero-text {
        //         width: 70%;
        //         margin-top: 25%;

        //         h1 {
        //             font-size: 5rem;
        //             letter-spacing: 2.2px;
        //             width: 95%;
        //             // margin: 5% 0;

        //         }

        //         h3 {
        //             width: 100%;
        //             font-size: 2.5rem;
        //             margin-bottom: 8%;
        //         }
        //     }
        // }
    }

    .hero-photo-contact {
        height: 125vh !important;
    }

    //Contacto
    .btn-form {
        width: 100%;
        font-size: 1.3rem;
    }

    .contact-container {
        // position: absolute;
        // height: 50vh;

        h3 {
            font-size: 3.3rem;
            color: map-get($colors, sixth);
        }

        .contact-info {
            ul {
                li {

                    img {
                        width: 20px;
                    }

                    p {
                        font-size: 1.4rem;
                        color: map-get($colors, sixth);
                    }

                    a {
                        font-size: 1.4rem;
                    }
                }
            }

        }
    }
}